#askUser {
  height: 50dvh;
  width: 50dvw;

  background: #1e1e1e;
  border-radius: 1rem;
  user-select: none;
  -moz-user-select: none;

  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  & > h1 {
    color: white;
  }
}

#app {
  height: 90dvh;
  width: 95dvw;

  background: #1e1e1e;
  color: white;
  border: none;
  border-radius: 2.5rem;
  box-shadow:
    -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.05),
    0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);

  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & > #navbar {
    height: 5dvh;
    width: 100%;
    margin: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    & > span b {
      color: #16C60C;
      text-align: center;

      display: flex;
      align-items: center;
    }
  }
}

#messenger {
  height: 15dvh;
  width: 100%;

  background: #1e1e1e;
  color: white;
  border: none;
  border-radius: 2.5rem;
  box-shadow:
    -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.05),
    0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  & > input {
    width: 90%;
    text-align: left;
  }
}

button {
  height: 2em;
  width: max-content;
  padding: 0.75rem 1.5rem;

  background: #1e1e1e;
  color: white;
  border: none;
  border-radius: 2.5rem;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  cursor: pointer;

  transition: all 150ms ease;
  box-shadow: 
    -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.05),
    0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);

  &:active {
    box-shadow: 
      inset -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.05),
      inset 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  }
}

span {
  height: 2em;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 
    inset -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.05),
    inset 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);

  user-select: none;
  -moz-user-select: none;
  text-align: center;

  display: flex;
  align-items: center;
}

input {
  height: clamp(3rem, 6rem, max-content);
  width: 16em;
  padding: 0.75rem 1rem;
  
  background: #1e1e1e;
  color: white;
  border: none;
  border-radius: 2.5rem;
  box-shadow: 
    inset -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.05),
    inset 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  outline: none;

  font-size: 2rem;
  font-family: 'Poppins';
  text-align: center;

  & > :focus {
    outline: none;
  }
}

#chat {
  height: 85dvh;
  width: 90dvw;
  overflow: hidden auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;

  & > div {
    height: 100%;
    width: 100%;

    display: flex;

    & > p {
      text-wrap-mode: wrap;
      text-wrap-style: pretty;

      & > b {
        color: #616CC0;
      }
    }
  }
}
